<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
<div class="row" style="margin-left:10%">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        Formulaire Ajout Enseignant
    </div>
</div>
<div class="row" style="margin-left:10%; margin-top:1%">
<form action="#" th:action="@{/add}" th:object="${enseignant}" method="post">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <label for="idEnseignant">IdEnseignant</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" id="idEnseignant" name="idEnseignant" placeholder="IDEnseignant">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <label for="nom">Nom</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="nomEnseignant" id="nom" placeholder="nomEnseignant">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <label for="prenomEnseignant">prenom</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="prenomEnseignant" id="prenomEnseignant" placeholder="prenom">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <label for="statusEnseignant">status</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="statusEnseignant" id="statusEnseignant" placeholder="status">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <label for="specialiteEnseignant">Specialite</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="specialiteEnseignant" id="specialiteEnseignant" placeholder="Specialite">
        </div>


    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="submit" value="Add Enseignant">
        </div>

    </div>
</form>
</div>
<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>