<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Microservice Client</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" /-->
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Acceuil</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cours
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{list-cours}">Liste des Cours</a></li>
                    <li><a th:href="@{add-cours}">Ajouter un Cours</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Enseignant
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{list-ens}">Liste des Enseignant</a></li>
                    <li><a th:href="@{add-ens}">Ajouter un Enseignant</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Affectation
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{list-cours-enseignant}">Liste des Affections</a></li>
                    <li><a th:href="@{add-cours-enseignant}">Faire une Affectation</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

<div class="row" style="margin-left:10%">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        Formulaire d'affectation de cours à un enseignant
    </div>
</div>
<div class="row" style="margin-left:10%; margin-top:1%">
    <form action="#" th:action="@{/addcoursenseignant}" th:object="${coursEnseignant}" method="post">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label for="idcours">IDCours</label>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" id="idcours" name="idcours" placeholder="IDCours">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label for="idEnseignant">IDEnseignant</label>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="text" name="idEnseignant" id="idEnseignant" placeholder="IDEnseignant">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input type="submit" value="Affecter">
            </div>

        </div>
    </form>
</div>
<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</div>
</body>
</html>