<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>

<div th:switch="${cours}">
    <h2 th:case="null">Pas de cours dans la base de données</h2>
    <div th:case="*">
        <h2>Cours</h2>
        <table>
            <thead>
            <tr>
                <th>IDCours</th>
                <th>IDEnseignant</th>
                <th>Nom</th>
                <th>Semestre</th>
                <th>Departement</th>
                <th>Volume</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${cours}">
                <td th:text="${c.idcours}"></td>
                <td th:text="${c.idenseignant}"></td>
                <td th:text="${c.nom}"></td>
                <td th:text="${c.semestre}"></td>
                <td th:text="${c.departement}"></td>
                <td th:text="${c.volume}"></td>
                <td><a th:href="@{/edit/{id}(id=${c.idcours})}">Edit</a></td>
                <td><a th:href="@{/deleteCours/{id}(id=${c.idcours})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{add-cours}">Ajouter un cours</a></p>
</div>

    <p><a th:href="@{add-cours}">Ajouter Cours</a></p>
</div>
<div th:switch="${enseignant}">
    <h2 th:case="null">Pas d'enseignant dans la base de données</h2>
    <div th:case="*">
        <h2>Enseignant</h2>
        <table>
            <thead>
            <tr>
                <th>IdEnseignant</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>status</th>
                <th>Specialite</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ens : ${enseignant}">
                <td th:text="${ens.idEnseignant}"></td>
                <td th:text="${ens.nomEnseignant}"></td>
                <td th:text="${ens.prenomEnseignant}"></td>
                <td th:text="${ens.statusEnseignant}"></td>
                <td th:text="${ens.specialiteEnseignant}"></td>
                <!--td><a th:href="@{/edit/{id}(id=${ens.idEnseignant})}">update</a></td-->
                <td><a th:href="@{/enseignants/delete/{id}(id=${ens.idEnseignant})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{add-ens}">Ajouter Enseignant</a></p>
</div>
<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>